// Breakpoints -------------------------------------
$bp-360: 360px; // phone
$bp-576: 576px; // Extra small screen / landscape phone
$bp-768: 768px; // Medium screen / tablet
$bp-992: 992px; // Large screen / desktop
$bp-1200: 1200px; // Extra large screen / wide desktop
$bp-1400: 1400px; // Extra wide desktop
$bp-1920: 1920px; // HD
// Colors ------------------------------------------
$error-color: #ff2300;
$valid-color: #00dd22;

@mixin breakpoint($bp, $direction: min) {
  @media screen and (#{$direction}-width: $bp) {
    @content;
  }
}

.fade-in {
  opacity: 1;
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

