<div #main *ngIf="contactData" class="contact-container">
  <section #cardTop class="card-top">
    <div
      [title]="contactData._id"
      class="id-tab"
      [ngStyle]="{ 'width.px': cardTop.width }"
    >
      ID:{{ contactData._id }}
    </div>
    <div
      class="name-circle"
      [ngStyle]="{
        'top.px': main.offsetHeight / 2 - 130,
        'left.px': main.offsetWidth / 2 - 60
      }"
    >
      <span [title]="contactData.firstName + ',' + contactData.lastName"
        >{{ contactData.firstName }}, {{ contactData.lastName }}</span
      >
    </div>
  </section>
  <section #infoSection class="info-section">
    <div *ngIf="contactData.company" class="info-block" [title]="contactData.company">
      <img class="company-icon">: {{ contactData?.company }}
    </div>
    <div *ngIf="contactData.email" class="info-block" [title]="contactData.email">
      <img class="email-icon">: {{ contactData?.email }}
    </div>
    <div *ngIf="contactData.phone" class="info-block" [title]="contactData.phone">
      <img class="phone-icon">: {{ contactData?.phone }}
    </div>
    <div *ngIf="contactData.address" class="info-block" [title]="contactData.address">
      <img class="address-icon"> {{ contactData?.address }}
    </div>
  </section>
  <section class="card-controls">
    <img class="trash-icon" (click)="deletContact()">
  </section>
</div>
