.list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 25px;
}

.new-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}